body {
    background-color: rgb(53, 109, 250);
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin: none;
    margin-bottom: 10px;
    text-align: center;
}
.container {
    display: grid;
    align-items: center;
    justify-content: center;
    display: grid;
}

.buttons{
    position: absolute;
}

.info-box{
    align-items: baseline;
}

p{
}


.buttons button{
    height: 50px;
    width: 500px;
    border-radius: 5px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sudoku-container {
    margin-left: 10px;
    vertical-align: top;
}

.info-box {
    margin-left: 30px;
    width: 550px;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1em auto;
}

input[type="text"], td {
    height: 35px;
    width: 35px;
    font-size: 25px;
    border: 1px solid;
    text-align: center;
}

td:first-child {
    border-left: solid;
}

tr:first-child {
    border-top: solid;
}

td:nth-child(3n) {
    border-right: solid;
}

tr:nth-child(3n) td {
    border-bottom: solid;
}


.custom-shape-divider-top-1709780005 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}   
